{% extends 'base.html.twig' %}

{% form_theme formProduct 'bootstrap_4_layout.html.twig' %}

{% block body %}
    {% if app.user %}
    <h1>

        {% if editMode %}Edit your product or mark it as sold!
        {% else %}Post a product !
        {% endif %}
    </h1>
    {{ form_start(formProduct) }}

    {{ form_row(formProduct.name, {'attr' : {'placeholder' : 'Nom du produit' }}) }}

    {{ form_row(formProduct.description, {'attr' : {'placeholder' : 'Description du produit' }}) }}

    {{ form_row(formProduct.location, {'attr' : {'placeholder' : 'Localisation du vendeur' }}) }}

    {{ form_row(formProduct.image, {'attr' : {'placeholder' : 'Image pour le produit' }}) }}

    {{ form_row(formProduct.category, {'attr' : {'placeholder' : 'Selectionnez une Categorie' ,
        'class' : 'btn btn-secondary dropdown-toggle'
    }}) }}

{#    <div class="dropdown show">#}
{#        <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#            Category</button>#}
{#        <div  class="dropdown-menu" aria-labelledby="dropdownMenuButton">#}
{#            {% for category in categories %}#}
{#            <a class="dropdown-item" href="#">{{ category.name }}</a>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}
{#    <label>Category</label>#}
{#    <select class = "btn btn-secondary dropdown-toggle">#}
{#        {% for category in categories %}}#}
{#        <option value = "{{ category.id }}">{{ category.name }}</option>#}
{#        {% endfor %}#}
{#    </select>#}
{#    <br>#}
        {% if editMode %}
            {{ form_row(formProduct.avilable, {'attr' : {'placeholder' : 'mark as sold' }}) }}
        {% endif %}
        <br>
    <p></p>

    <button type="submit", class="btn btn-success">
        {% if editMode %}Save modifications
        {% else %}Add product
        {% endif %}
    </button>

    <br>
    {{ form_end(formProduct) }}
    {% else %}
    <p>You must login or create an account first!</p>
    <ul class="list-unstyled CTAs">
        <li><a href="{{ path('login') }}" class="login">S'identifier</a></li>
        <li><a href="{{ path('signup') }}" class="signup">S'inscrire</a></li>
    </ul>
    {% endif %}

{% endblock %}
