{% extends 'base.html.twig' %}

{#{% block title %}Hello Shoppers!{% endblock %}#}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section class="articles">
        {% for product in products %}
            <article>

                <div class="content">
                    <table style="width:50%">
                        <tr>
                            <th><img src="{{ product.image }}" style="=width: 200px;height: 400px;object-fit: cover;" /></th>
                            <th>
                                <h2> {{ product.name }} </h2>
                                <div class="metadata">créée le : {{ product.datePosted | date('d/m/Y') }}
                                    <br>
                                    location :  : {{ product.location }}
                                    Description : {{ product.description | raw }}
                                    Category :
                                    <a href="{{ path('category', {id: product.category.id}) }}"> {{ product.category }} </a>
                                </div>
                            </th>
                        </tr>
                    </table>
                </div>
            </article>
        {% endfor %}
</section>
{% endblock %}
